.navList {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  background-color: #fff;
}

.navListUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navListItem {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.navListItem:last-child {
  border-bottom: none;
}

.navLink {
  text-decoration: none;
  color: #254885;
  display: block;
}
