.solutionContainer {
  display: flex;
  height:100%;
  min-height:50%;
  flex-grow:1;

}

.buttonContainer {
  width:100%;
}

.extraButtonStyles {
  justify-content: flex-start;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  display:flex;
  
}


.solutions{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  flex-grow: 1;
  width:100%;
 min-height:30vh;
 
}