.buttonContainer {
 position: absolute;
 right: 36px;
 top: 68px;
 display: flex;
 flex-direction: row-reverse;
 gap: 16px;
 z-index: 1000;
}

.actionButton {
 position: relative;
 color: white;
 background: transparent;
 border: none;
 cursor: pointer;
 transition: background-color 0.2s, transform 0.2s;
 padding: 12px;
 border-radius: 8px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.actionButton:hover {
 background: rgba(255, 255, 255, 0.2);
 transform: scale(1.05);
}

.actionIcon {
 color: white;
 width: 32px;
 height: 32px;
}