.outerStack {
  margin-top: 15vh;
  justify-content: center;
  align-items: center;
}

.alertBanner {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
